/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.sprite-colour-border {
  background-image: url(../images/sprite.png);
  background-position: 0px -64px;
  width: 42px;
  height: 42px;
}
.sprite-facebook {
  background-image: url(../images/sprite.png);
  background-position: -229px -64px;
  width: 21px;
  height: 20px;
}
.sprite-logo {
  background-image: url(../images/sprite.png);
  background-position: -64px 0px;
  width: 189px;
  height: 62px;
}
.sprite-nav-mobi {
  background-image: url(../images/sprite.png);
  background-position: 0px -154px;
  width: 16px;
  height: 12px;
}
.sprite-read-more {
  background-image: url(../images/sprite.png);
  background-position: -43px -95px;
  width: 7px;
  height: 10px;
}
.sprite-star-five {
  background-image: url(../images/sprite.png);
  background-position: -146px -138px;
  width: 92px;
  height: 15px;
}
.sprite-star-four {
  background-image: url(../images/sprite.png);
  background-position: -72px -138px;
  width: 73px;
  height: 15px;
}
.sprite-star-one {
  background-image: url(../images/sprite.png);
  background-position: -55px -138px;
  width: 16px;
  height: 15px;
}
.sprite-star-three {
  background-image: url(../images/sprite.png);
  background-position: 0px -138px;
  width: 54px;
  height: 15px;
}
.sprite-star-two {
  background-image: url(../images/sprite.png);
  background-position: -207px -107px;
  width: 35px;
  height: 15px;
}
.sprite-trail-accommodation {
  background-image: url(../images/sprite.png);
  background-position: 0px -107px;
  width: 30px;
  height: 30px;
}
.sprite-trail-cell-signal {
  background-image: url(../images/sprite.png);
  background-position: -31px -107px;
  width: 30px;
  height: 30px;
}
.sprite-trail-drinking-water {
  background-image: url(../images/sprite.png);
  background-position: -43px -64px;
  width: 30px;
  height: 30px;
}
.sprite-trail-four-by-four {
  background-image: url(../images/sprite.png);
  background-position: -93px -107px;
  width: 30px;
  height: 30px;
}
.sprite-trail-four-by-two {
  background-image: url(../images/sprite.png);
  background-position: -124px -107px;
  width: 30px;
  height: 30px;
}
.sprite-trail-fuel-nearby {
  background-image: url(../images/sprite.png);
  background-position: -155px -107px;
  width: 30px;
  height: 30px;
}
.sprite-trail-grade {
  background-image: url(../images/sprite.png);
  background-position: -62px -107px;
  width: 30px;
  height: 30px;
}
.sprite-trail-ground-clearance {
  background-image: url(../images/sprite.png);
  background-position: -198px -64px;
  width: 30px;
  height: 30px;
}
.sprite-trail-low-range {
  background-image: url(../images/sprite.png);
  background-position: -167px -64px;
  width: 30px;
  height: 30px;
}
.sprite-trail-self-drive-or-guided {
  background-image: url(../images/sprite.png);
  background-position: -136px -64px;
  width: 30px;
  height: 30px;
}
.sprite-trail-shade-on-trail {
  background-image: url(../images/sprite.png);
  background-position: -105px -64px;
  width: 30px;
  height: 30px;
}
.sprite-trail-swimming {
  background-image: url(../images/sprite.png);
  background-position: -74px -64px;
  width: 30px;
  height: 30px;
}
.sprite-trans-bg-left {
  background-image: url(../images/sprite.png);
  background-position: -32px 0px;
  width: 31px;
  height: 63px;
}
.sprite-trans-bg-right {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 31px;
  height: 63px;
}
.sprite-twitter {
  background-image: url(../images/sprite.png);
  background-position: -186px -107px;
  width: 20px;
  height: 20px;
}
