@mixin opacity($opacity) {
  opacity: $opacity;
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
	   color: $color;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	}

	&:-ms-input-placeholder {  
	   color: $color;  
	}
}

// To use, simply @include clearfix()
@mixin clearfix() {
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}